body{
    background-image: url(fw.jpg);
    background-color: black;
    background-position:center top;
    background-repeat: no-repeat;
    color: yellow;
}

h1{
    color: #FF0000;
}

h2{
    color:rgb(255,0,0);
}
p#sn, p#so, p#si
{
    font: italic 12px Verdana, sans-serif;
}

p#so
{
    font-size: 1.2em;
}
p#si
{
    font-style: normal;
}

a{
    text-decoration:none;
    text-align:center;
}
a:hover{
    text-decoration:underline;
}
p{
    text-indent:1.2em;
}
p#sc{
    text-transform: capitalize;
}
p#su{
    text-transform: uppercase;
}
p#sl{
    text-transform: lowercase;
}