body{
    background-image: url(fw.jpg);
    background-color: #243CED;
    background-position:center top;
    background-repeat: no-repeat;
    color: yellow;
}

h1{
    color: #FF0000;
}

h2{
    color:rgb(255,0,0);
}
p#sn, p#so, p#si
{
    font-family: Verdana, sans-serif;
}
p#sn
{
    font-style:normal;
}

p#so
{
    font-style:oblique;
}

p#si
{
    font-style:italic;
}